USE [master]
GO
/****** Object:  Database [Auto_attendance]    Script Date: 30-08-2025 17:07:54 ******/
CREATE DATABASE [Auto_attendance]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Auto_attendnce', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Auto_attendnce.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Auto_attendnce_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Auto_attendnce_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Auto_attendance].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Auto_attendance]
GO
/****** Object:  Table [dbo].[attendance]    Script Date: 30-08-2025 17:07:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[attendance](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[class_name] [nvarchar](100) NULL,
	[attendance_date] [datetime] NULL,
	[present_count] [int] NULL,
	[absent_count] [int] NULL,
	[unrecognized_count] [int] NULL,
	[average_confidence] [float] NULL,
	[report_text] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[attendance_details]    Script Date: 30-08-2025 17:07:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[attendance_details](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[attendance_id] [int] NULL,
	[roll_no] [nvarchar](50) NULL,
	[student_name] [nvarchar](100) NULL,
	[status] [nvarchar](20) NULL,
	[confidence] [float] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[attendance] ON 

SET IDENTITY_INSERT [dbo].[attendance] OFF
GO
SET IDENTITY_INSERT [dbo].[attendance_details] ON 

INSERT [dbo].[attendance_details] ([id], [attendance_id], [roll_no], [student_name], [status], [confidence], [created_at]) VALUES (1, NULL, N'student\10th\R003', N'Pooja', N'present', 0.64618752944437741, CAST(N'2025-08-20T16:37:59.683' AS DateTime))
INSERT [dbo].[attendance_details] ([id], [attendance_id], [roll_no], [student_name], [status], [confidence], [created_at]) VALUES (2, NULL, N'student\10th\R002', N'Sindhu', N'present', 0.63970565181727879, CAST(N'2025-08-20T16:37:59.693' AS DateTime))
INSERT [dbo].[attendance_details] ([id], [attendance_id], [roll_no], [student_name], [status], [confidence], [created_at]) VALUES (3, NULL, N'student\10th\R005', N'Shrilakshmi', N'present', 0.65641167433145542, CAST(N'2025-08-20T16:37:59.703' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[attendance_details] OFF
GO
ALTER TABLE [dbo].[attendance] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[attendance_details] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[attendance_details]  WITH CHECK ADD FOREIGN KEY([attendance_id])
REFERENCES [dbo].[attendance] ([id])
GO
USE [master]
GO
